<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<p></p>
<h1>hello {{ user }}</h1>
{#<h1>list of movies</h1>#}
{#<ul>#}
{#  {% for film in films %}#}
{#    <li>Titre : {{ film.Titre }}</li>#}
{#    <li style="display: block; width : 100px; height : 100px"><img style="display: block; width : 100%; height : 100%; object-fit: cover" src="{{ film.Poster }}" alt="Poster"</li>#}
{#    <li>Description :{{ film.Description }}</li>#}
{#    <li>Genre :{{ film.Genre }}</li>#}
{#    <li>Imdb :{{ film.Imdb }}</li>#}
{#    <li>Director :{{ film.Director }}</li>#}
{#    <li>Actors :#}
{#        <ul>#}
{#            {% for actor in film.Actors %}#}
{#            <li>{{ actor.Name }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{##}
{#    </li>#}
{#  {% empty %}#}
{#    <li>No films available.</li>#}
{#  {% endfor %}#}
{#</ul>#}



</body>
</html>